@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

/* 부드러운 스크롤 효과 */
html {
  scroll-behavior: smooth;
}

/* 이미지 드래그 방지 */
img {
  -webkit-user-drag: none;
  user-select: none;
}
